.quote_container {
  border: 1px solid grey;
  box-shadow: 5px 5px #888888;
  padding: 2em 0;
  width: 50vw;
  margin: 0 auto;
  background: #fff;
  position: relative;
}

.quote_icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

#text {
  font-size: 1.2em;
}

#author {
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .quote_container {
    width: 90vw;
  }
}
